* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto';
	background-image: url('images/patt.png');

}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	padding: 25px 0;
	background-color: rgba(255,255,255,0.75);
}

.row:after, .menu:after {
	content: "";
	clear: both;
	display: block;
}

[class*="col-"] {
	float: left;
}

.col-md-3 {
	width: 25%;
}

.col-md-6 {
	width: 50%;
}

.logo {
	margin-top: 7px;
}

.menu li {
	width: 25%;
	float: left;
	border-left: 1px solid #2c71b8;
}

.menu li:last-child {
	border-right: 1px solid #2c71b8;
}


.menu a {
	display: block;
	height: 50px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: #2c71b8;
	font-weight: 300;
	font-size: 16px;
}

.menu a:hover {
	background-color: #2c71b8;
	color: white;
}

.col-md-3 input {
	float: left;
	width: 198px;
	height: 38px;
	margin-left: 20px;
	border: 1px solid #2c71b8;
	outline: none;
	background: transparent;
	color: #2c71b8;
	margin-top: 6px;
	padding-left: 20px;
	font-size: 16px;
}


.col-md-3 input::placeholder {
	font-weight: 300;
	font-size: 16px;
	color: #2c71b8;
}



.col-md-3 button {
	position: relative;
	top: 10px;
	right: 35px;
	width: 30px;
	height: 30px;
	border: none;
	background-color: #2c71b8;
	cursor: pointer;
	}

/*.col-md-3 button:before {
	content: "\f002";
	color: #2c71b8;
}	*/

.menu__list {
	background-image: url('arrow.png');
}

.lupa {
	position: relative;
}

.menu__list {
	position: relative;
}



.menu__drop {
	float: left;
	display: none;
	position: relative;
	top: -10px;
}

.menu li:hover .menu__drop {
	display: block;
}



/*.menu__drop:after {
	content: "";
	clear: both;
	display: block;
}*/

.menu__drop a {

	display: block;
	height: 50px;
	text-decoration: none;
	text-align: left;
	line-height: 50px;
	color: white;
	background-color: #2c71b8;
	font-weight: 300;
	font-size: 16px;

	float: left;
	right: 146px;
	
	width: 292px; 
	
	padding-left: 30px;
}

.menu__drop li {
	width: 292px; 
	float: left;
	border: none;
	height: 40px;
}

.menu__drop a:hover {
	color: #2c71b8;
	background-color: white;
}

.cart-top {
	float: left;
	margin-left: 30px;
	margin-top: -25px;
	width: 40px;
	height: 40px;
	background-color: white;

}

.cart-top img {
	padding: 10px;
}

.cart-circle {
	height: 20px;
	width: 20px;
	background-color: #2c71b8;
	border-radius: 25px;

	position: relative;
	float: left;
	left: -12px;
	top: -52px;
}

.cart-circle p {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	text-align: center;
	font-size: 10pt;
	color: white;
}

.slide {
	height: 400px;
	background-color: rgba(0,0,0,0.3);
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

[class*="main-"] {
	float: left;
}

.main-30 {
	width: 30%;
	border-right: 1px solid white;
	height: 900px;
}

.main-70 {
	width: 70%;
	float: left;
}


.home-page-bc {
	margin-left: 30px;
	margin-top: 30px;
	color: #a7bfd9;
	font-size: 8pt;
	text-decoration: none;
}

.products-bc {
	margin-top: 30px;
	color: #a7bfd9;
	font-size: 8pt;
	text-decoration: none;
}

.laptops-and-tablets-bc {
	margin-top: 30px;
	color: #a7bfd9;
	font-size: 8pt;
}


h1 {
	padding-top: 30px;
	color: white;
	font-size: 30pt;
	padding-left: 30px;
	margin-bottom: 50px;
}

.products {
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	flex-wrap: wrap;
}

.product-1 {
	height: 650px;
	width: 270px;
	border: 1px solid white;
	position: relative;

	margin-left: 30px;
}

.product-1-top {
	border-bottom: 1px solid white;
	width: 269px;
	height: 180px;
	background-color: rgba(255,255,255,0.75);

}

.product-1-top img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.product-1-top-right {
	height: 70px;
	width: 30px;
	float: right;
}

.product-1-top-bracket {
	float: right;
	height: 30px;
	width: 30px;
	border: 1px solid #2c71b8;
	margin-top: 10px;
	margin-right: 10px;
}

/*.product-1-top-bracket:last-child {
	content: "";
	clear: both;
}*/

.product-1-top-bracket img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.product-1-top-heart {
	float: right;
	height: 30px;
	width: 30px;
	border: 1px solid #2c71b8;
	margin-top: 10px;
	margin-right: 10px;
}

.product-1-top-heart img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.device-name {
	font-size: 24pt;
	text-align: left;
	color: white;
	padding-top: 15px;
	padding-left: 15px;
}

.description {
	font-weight: lighter;
	font-size: 18pt;
	text-align: left;
	color: white;
	padding-top: 15px;
	padding-left: 15px;
	
}

.type {
	font-size: 18pt;
	text-align: left;
	color: white;
	padding-top: 15px;
	padding-left: 15px;
}

.type-laptop {
	font-weight: lighter;
}

.screen-size {
	font-size: 18pt;
	text-align: left;
	color: white;
	padding-top: 15px;
	padding-left: 15px;
	font-weight: lighter;
}

.ram {
	font-size: 18pt;
	text-align: left;
	color: white;
	padding-top: 15px;
	padding-left: 15px;
	font-weight: lighter;
}

.price {
	font-size: 30pt;
	text-align: center;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}

.more-details {
	margin-left: 30px;
	margin-top: 10px;
	text-align: center;
	background-color: inherit;
	border: 1px solid white;
	height: 50px;
	width: 210px;
	color: white;
	font-style: inherit;
	font-size: 12pt;
}

.add-to-cart {
	margin-left: 30px;
	margin-top: 10px;
	padding-top: 5px;
	text-align: center;
	background-color: inherit;
	color: white;
	border: 1px solid white;
	height: 50px;
	width: 210px;
	font-style: inherit;
	font-size: 12pt;
	background: url('images/cart-white.png') no-repeat;
	background-position: 85%;

}

/*вікно продукту 2*/

.product-2 {
	height: 650px;
	width: 270px;
	border: 1px solid white;
	margin-left: 30px;
}

.product-2-top {
	border-bottom: 1px solid white;
	width: 269px;
	height: 180px;
	background-color: rgba(255,255,255,0.75);

}

.product-2-top img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.product-2-top-right {
	height: 70px;
	width: 30px;
	float: right;
}

.product-2-top-bracket {
	float: right;
	height: 30px;
	width: 30px;
	border: 1px solid #2c71b8;
	margin-top: 10px;
	margin-right: 10px;
}

.product-2-top-bracket img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.product-2-top-heart {
	float: right;
	height: 30px;
	width: 30px;
	border: 1px solid #2c71b8;
	margin-top: 10px;
	margin-right: 10px;
	background-color: #2c71b8;
}

.product-2-top-heart img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.device-name {
	font-size: 24pt;
	text-align: left;
	color: white;
	padding-top: 15px;
	padding-left: 15px;
}

.description {
	font-weight: lighter;
	font-size: 18pt;
	text-align: left;
	color: white;
	padding-top: 15px;
	padding-left: 15px;
	
}

.type {
	font-size: 18pt;
	text-align: left;
	color: white;
	padding-top: 15px;
	padding-left: 15px;
}

.type-laptop {
	font-weight: lighter;
}

.screen-size {
	font-size: 18pt;
	text-align: left;
	color: white;
	padding-top: 15px;
	padding-left: 15px;
	font-weight: lighter;
}

.ram {
	font-size: 18pt;
	text-align: left;
	color: white;
	padding-top: 15px;
	padding-left: 15px;
	font-weight: lighter;
}

.price {
	font-size: 30pt;
	text-align: center;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}

.more-details {
	margin-left: 30px;
	margin-top: 10px;
	text-align: center;
	background-color: inherit;
	border: 1px solid white;
	height: 50px;
	width: 210px;
	color: white;
	font-style: inherit;
	font-size: 12pt;
}

.add-to-cart {
	margin-left: 30px;
	margin-top: 10px;
	padding-top: 5px;
	text-align: center;
	background-color: inherit;
	color: white;
	border: 1px solid white;
	height: 50px;
	width: 210px;
	font-style: inherit;
	font-size: 12pt;
	background: url('images/cart-white.png') no-repeat;
	background-position: 85%;

}

/*вікно продукту 3*/

.product-3 {
	height: 650px;
	width: 270px;
	border: 1px solid white;
	margin-left: 30px;
}

.product-3-top {
	border-bottom: 1px solid white;
	width: 269px;
	height: 180px;
	background-color: rgba(255,255,255,0.75);

}

.product-3-top img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.product-3-top-right {
	height: 70px;
	width: 30px;
	float: right;
}

.product-3-top-bracket {
	float: right;
	height: 30px;
	width: 30px;
	border: 1px solid #2c71b8;
	margin-top: 10px;
	margin-right: 10px;
	background-color: #2c71b8; 
}

.product-3-top-bracket img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.product-3-top-heart {
	float: right;
	height: 30px;
	width: 30px;
	border: 1px solid #2c71b8;
	margin-top: 10px;
	margin-right: 10px;
	background-color: transparent;
}

.product-3-top-heart img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.device-name {
	font-size: 24pt;
	text-align: left;
	color: white;
	padding-top: 15px;
	padding-left: 15px;
}

.description {
	font-weight: lighter;
	font-size: 18pt;
	text-align: left;
	color: white;
	padding-top: 15px;
	padding-left: 15px;
	
}

.type {
	font-size: 18pt;
	text-align: left;
	color: white;
	padding-top: 15px;
	padding-left: 15px;
}

.type-laptop {
	font-weight: lighter;
}

.screen-size {
	font-size: 18pt;
	text-align: left;
	color: white;
	padding-top: 15px;
	padding-left: 15px;
	font-weight: lighter;
}

.ram {
	font-size: 18pt;
	text-align: left;
	color: white;
	padding-top: 15px;
	padding-left: 15px;
	font-weight: lighter;
}

.price {
	font-size: 30pt;
	text-align: center;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}

.more-details {
	margin-left: 30px;
	margin-top: 10px;
	text-align: center;
	background-color: inherit;
	border: 1px solid white;
	height: 50px;
	width: 210px;
	color: white;
	font-style: inherit;
	font-size: 12pt;
}

.add-to-cart {
	margin-left: 30px;
	margin-top: 10px;
	padding-top: 5px;
	text-align: center;
	background-color: inherit;
	color: white;
	border: 1px solid white;
	height: 50px;
	width: 210px;
	font-style: inherit;
	font-size: 12pt;
	background: url('images/cart-white.png') no-repeat;
	background-position: 85%;

}

/*вікно продукту 4*/

.product-4 {
	height: 650px;
	width: 270px;
	border: 1px solid white;
	margin-left: 30px;
	margin-top: 30px;
}

/*продукт 5
*/
.product-5 {
	height: 650px;
	width: 270px;
	border: 1px solid white;
	margin-left: 30px;
	margin-top: 30px;
}

.product-6 {
	height: 650px;
	width: 270px;
	border: 1px solid white;
	margin-left: 30px;
	margin-top: 30px;
}

.product-7 {
	height: 650px;
	width: 270px;
	border: 1px solid white;
	margin-left: 30px;
	margin-top: 30px;
}

.product-8 {
	height: 650px;
	width: 270px;
	border: 1px solid white;
	margin-left: 30px;
	margin-top: 30px;
}

.product-9 {
	height: 650px;
	width: 270px;
	border: 1px solid white;
	margin-left: 30px;
	margin-top: 30px;
}

/*
.footer {
	background-color: rgba(255,255,255,0.75);
}*/


